{% extends 'base.html.twig' %}

{% block title %}New JOArticle{% endblock %}

{% block body %}
    <h1>Création d’article</h1>

    {{ include('jo_article/_form.html.twig') }}

    <a href="{{ path('app_j_o_article_index') }}" class="btn btn-primary m-2" >Retourner à la liste</a>
{% endblock %}
