.connexion-btn{
    background-color: #D38E33;
    border: solid 1px #D38E33;
}
.connexion-btn:hover{
    background-color: transparent;
    border: solid 1px #D38E33;
}

.input-bgc-and-border{
    background-color: #FFFDF0;
    border: solid 1px #D38E33;
}

.text-gold{
    color: #D38E33;
}