.connexion-btn{
    background-color: #D38E33;
    border: solid 1px #D38E33;
}
.connexion-btn:hover{
    background-color: transparent;
    border: solid 1px #D38E33;
}

.input-bgc-and-border{
    background-color: #FFFDF0;
    border: solid 1px #D38E33;
}

.text-gold{
    color: #D38E33;
}

.article-detail-img{
    border-radius: 15px;
    width: 100%;
}


@media only screen and (max-width: 1000px) {
    .article-detail-img{
       width: fit-content;
    }
} 

@media only screen and (max-width: 600px) {
    .article-detail-img{
       width: 300px;
       height: 200px;
    }
} 