<form method="post" action="{{ path('app_j_o_comment_delete', {'id': j_o_comment.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ j_o_comment.id) }}">
    <button class="btn">Delete</button>
</form>
