.truncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-height: 10.8em; /* Ajuster en fonction de la hauteur souhaitée */
    line-height: 1.2em; /* Ajuster en fonction de la hauteur de ligne */
  }

.text-mini{
  font-size: 13px;
}